In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
from datetime import datetime

In [3]:
df = pd.read_csv('SBIN.NS_data.csv')

In [4]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2012-01-02 00:00:00+05:30,142.951379,143.565669,141.406913,142.832916,14464990,0.0,0.0
1,2012-01-03 00:00:00+05:30,144.267688,150.059462,144.179942,149.677734,21341020,0.0,0.0
2,2012-01-04 00:00:00+05:30,150.234975,150.401710,147.005632,148.835297,22241630,0.0,0.0
3,2012-01-05 00:00:00+05:30,148.830885,150.809730,147.431206,148.519348,21344840,0.0,0.0
4,2012-01-06 00:00:00+05:30,146.988056,149.848833,145.500618,146.790604,21137420,0.0,0.0

In [5]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [6]:
df['Date'] = df['Date'].dt.date

In [7]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2012-01-02,142.951379,143.565669,141.406913,142.832916,14464990,0.0,0.0
1,2012-01-03,144.267688,150.059462,144.179942,149.677734,21341020,0.0,0.0
2,2012-01-04,150.234975,150.401710,147.005632,148.835297,22241630,0.0,0.0
3,2012-01-05,148.830885,150.809730,147.431206,148.519348,21344840,0.0,0.0
4,2012-01-06,146.988056,149.848833,145.500618,146.790604,21137420,0.0,0.0

In [8]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2713 non-null   datetime64[ns]
 1   Open          2713 non-null   float64
 2   High          2713 non-null   float64
 3   Low           2713 non-null   float64
 4   Close         2713 non-null   float64
 5   Volume        2713 non-null   int64
 6   Dividends     2713 non-null   float64
 7   Stock Splits  2713 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 169.7 KB

In [10]:
df.shape

(2713, 8)

In [11]:
df.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [12]:
df.nunique()

Date            2713
Open            2712
High            2711
Low             2712
Close           2515
Volume          2712
Dividends          7
Stock Splits       2
dtype: int64

In [13]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2713.000000,2713.000000,2713.000000,2713.000000,2.713000e+03,2713.000000,2713.000000
mean,272.211826,275.723939,268.335471,271.889688,2.564227e+07,0.011224,0.003686
std,102.578623,103.578404,101.587281,102.628444,2.050520e+07,0.215384,0.191988
min,133.920505,135.277936,132.344460,134.248474,0.000000e+00,0.000000,0.000000
25%,195.903773,198.852317,192.620209,195.711517,1.389943e+07,0.000000,0.000000
50%,249.688764,252.846543,245.917554,249.736664,1.920273e+07,0.000000,0.000000
75%,298.640812,302.861183,293.855663,298.592957,2.930649e+07,0.000000,0.000000
max,613.625721,617.549472,605.729157,613.576660,2.626771e+08,7.100000,10.000000

In [14]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [15]:
numeric_features

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']

In [16]:
categorical_features

[]

In [17]:
df.to_csv('SBINdata.csv',index=False)